<div ng-include="'views/inc/profilebar.html'"></div> 
<div style="float:left;" ng-include="'views/inc/side_nav.html'"></div> 
<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
      
    <fieldset>
        <a href="#!placeorder" class="btn btn-primary" style=" float:left;font-family: 'Shizuru', cursive;">Place Order</a> &nbsp; |  &nbsp;  &nbsp; 
      <a href="#!refcart" class="btn btn-primary" style=" font-family: 'Shizuru', cursive;">Refresh Cart</a>  
      <br><br><br>
        <table  class="table  center" style="width: 70%; border: 1px solid black;color:rgb(255, 255, 255)">
      <tr style="background-color: rgb(29, 15, 82);">
         
          <th>ProductId</th>
          <th>Quantity</th>
          <th>TotalPrice</th>
         
      </tr>
      <tr ng-repeat="n in carts" style="background-color: darkcyan;">
         
          <td>{{n.ProductId}}</td>
          <td>{{n.Quantity}}</td> 
          <td>{{n.TotalPrice}}</td>            
      </tr>
    
       </table>
       
    </fieldset>
  
