<link rel="stylesheet" href="content/logins.css"> 

 <div ng-include="'views/inc/top_nav.html'"></div> 
<fieldset style="font-size: 25px;" class="a">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <h2 class="active ">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/content/pics/1.login.jpg" height="100px" weidth="15px" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
      <input type="text" id="username" class="fadeIn sixth" name="username" placeholder="username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="text" id="type" class="fadeIn fifth" name="type" placeholder="type">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>  

  </div>
</div>
</fieldset>