<div ng-include="'views/inc/profilebar.html'"></div> 
 <div style="float:left;" ng-include="'views/inc/side_nav.html'"></div> 
<body>
  <class style="float:right;color:blue;">&nbsp;|&nbsp;&nbsp;<a href='logout.php'>Logout</a></class>
  <h2 style="color:green";>COVID-19 Test Management System</h2>
  <br><br><hr><br><br>
  
  <div  style="float:left;"w3-include-html="sidenav.html"></div>
  <fieldset style="font-size: 25px;">
    <legend>PROFILE</legend><br>
          
      <div class="container">
        <div>
          
         
        </div>

        <div class="image">
         
          <!--&emsp;&emsp;&emsp;&emsp;&emsp;<img src="" alt="pp" width="100" height="100"><br><br>-->
          <div>
            <a href="profilepic.php">&emsp;Change&emsp;</a>
          </div>
        </div>
      </div>
              

  </fieldset>
  <br><br><br><br><br><br><br><hr>
  
  
  
</body>