 <!-- <a href="#!demo">Demo</a><br>
<a href="#!demo2">demo2</a>
<a href="#!view_profile">View Profile</a> -->

 <nav>
      <fieldset style="background-color: rgb(107, 194, 209);">
          <h1 style=" float:left;font-family: 'Shizuru', cursive;">Customer</h1>
          <hr>
          <div class="left">              
                  
                  <a href="#!view_profile" class="btn btn-primary">View Profile</a> <br><br>
                   <a href='#!product'class="btn btn-primary">All Products</a> <br><br>
                   <a href='#!carts'class="btn btn-primary">Show Cart</a> <br> <br> 
                  <a href='#!tables'class="btn btn-primary">Show Table Details</a> <br><br>                                       
                  <a href='#!orderdetail'class="btn btn-primary">My Order Details</a> <br><br>
                  <a href='#!order'class="btn btn-primary">My Orders</a> <br><br>
                  <a href='#!logout'class="btn btn-danger">Logout</a>
                  
             
          </div>
      </fieldset>

</nav>
</div> 
